@import "bootstrap/dist/css/bootstrap.min.css";


.card {
    border-radius: 20px;
}

.izquierda{
    font-size: 90px;
}

.derecha{
    transform: rotate(180deg);
    font-size: 90px;
}

.centro {
    height: 300px;
    font-size: 100px;
}